.footer_main {
  height: 3em;
  width: 100%;
  background-color: $brick;

  .left_footer {
    margin: auto 0;
    padding: 20px;

    h3 {
      margin-right: 5px;
      font-size: 1.1em;
      color: black;
    }

    img {
      padding-bottom: 2.5px;
    }
  }
}
